In [1]:
from src.scoring.google_sheets import GoogleSheets
import pandas as pd

In [2]:
from pathlib import Path
from src.config import SCOPES

sheets = GoogleSheets(path_to_token=Path("../../secrets_vault/token.json"), path_to_credentials=Path("../../secrets_vault/credentials.json"), scopes=SCOPES)

In [3]:
all_tables = sheets.get_all_tables()

In [4]:
all_tables.keys()

dict_keys(['competitive_intelligence', 'themes', 'market_intelligence', 'personalities'])

In [11]:
all_tables['competitive_intelligence'].set_index('key').loc['JPM'].dropna().values

array(['J.P. Morgan', 'JP Morgan', 'Chase', 'JPMorgan', 'J P Morgan'],
      dtype=object)

In [35]:
pd.Series(all_tables['themes'].values.flatten()).value_counts(dropna=False)

None                        93
                            13
y                            5
AI                           2
GenAI                        2
                            ..
Self-supervised learning     1
FoW                          1
digital workforce            1
digital employee             1
future of work               1
Name: count, Length: 100, dtype: int64

In [36]:
all_tables['personalities'].apply(lambda x: (" ").join(x), axis=1).value_counts().max().item()

1

In [38]:
target_col = [col for col in all_tables['themes'].columns if col.startswith('col')]

In [43]:
pd.Series(all_tables['themes'][target_col].values.flatten()).value_counts(dropna=True).max().item()

1

In [3]:
with open("../../secrets_vault/spreadsheet_id.txt", "r") as f:
    spreadsheet_id = f.readline().strip()

In [8]:
sheet = sheets.service.spreadsheets()
result = sheet.values().get(spreadsheetId=spreadsheet_id, range='competitive_intelligence').execute()
values = result.get('values', [])

In [9]:
values

[['key', 'entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
 ['MS', 'Morgan Stanley'],
 ['JPM', 'J.P. Morgan', 'JP Morgan', 'Chase', 'JPMorgan', 'J P Morgan'],
 ['GS', 'Goldman Sachs'],
 ['BoA', 'Bank of America'],
 ['Citi', 'Citi', 'Citigroup'],
 ['UBS', 'UBS'],
 ['Deutsche', 'Deutsche Bank'],
 ['HSBC', 'HSBC'],
 ['Barclays', 'Barclays'],
 ['RBC', 'RBC', 'Royal Bank of Canada', 'Borealis AI', 'RBC Borealis'],
 ['Wells', 'Wells Fargo'],
 ['Capital', 'Capital One'],
 ['BNY', 'BNY', 'Mellon', 'Bank of New York'],
 ['TD', 'TD', 'Layer 6', 'Layer6']]

In [15]:
pd.DataFrame(result['values'][1:], columns=result['values'][0])

,key,entry1,entry2,entry3,entry4,entry5
0,MS,Morgan Stanley,None,None,None,None
1,JPM,J.P. Morgan,JP Morgan,Chase,JPMorgan,J P Morgan
2,GS,Goldman Sachs,None,None,None,None
3,BoA,Bank of America,None,None,None,None
4,Citi,Citi,Citigroup,None,None,None
5,UBS,UBS,None,None,None,None
6,Deutsche,Deutsche Bank,None,None,None,None
7,HSBC,HSBC,None,None,None,None
8,Barclays,Barclays,None,None,None,None
9,RBC,RBC,Royal Bank of Canada,Borealis AI,RBC Borealis,None
10,Wells,Wells Fargo,None,None,None,None
11,Capital,Capital One,None,None,None,None
12,BNY,BNY,Mellon,Bank of New York,None,None
13,TD,TD,Layer 6,Layer6,None,None